.venv/
.vscode/
__pycache__/
.RData
.Rhistory

data/
backups/
log/
outputs/
top_pairs*/
ranked_pairs/
event_pairs*/
annotations/
analysis/**/*.txt
analysis/**/*.html
/*/index/
/*/raw/
/*/plaintext/
/*/plaintext-sample/
/*/events*/
/*/doc-relevance

!test_data/plaintext/